
body {
    background-color: #0b4ea2;
    font-family: Arial, sans-serif;
    color: white;
}
.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.logo {
    width: 120px;
    position: absolute;
    top: 10px;
}
.left { left: 10px; }
.right { right: 10px; }

input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
#resultado {
    margin-top: 20px;
    font-size: 18px;
}
